#ignore bin folder
Assignment 2/bin

#ignore .vscode
Assignment 2/.vscode
.vscode

#ignore .vscode
Assignment 3/.vscode
Assignment 3/bin

Assignment 4/.vscode
Assignment 4/bin
Assignment 4/input.txt
Assignment 4/test.txt
Assignment 4/*.txt
Assignment 4/files
Assignment 4/sortdata
